@import "globals.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}
.add-padding {
  padding-bottom: 200px;
}
/* drum section */
.w {
  background-image: url("../imgs/w.png");
  
}
.a {
  background-image: url("../imgs/a.png");
}

.s {
  background-image: url("../imgs/s.png");
}

.d {
  background-image: url("../imgs/d.png");
}

.j {
  background-image: url("../imgs/j.png");
}

.k {
  background-image: url("../imgs/k.png");
}

.l {
  background-image: url("../imgs/l.png");
}
.i {
  background-image: url("../imgs/i.png");
}

.o {
  background-image: url("../imgs/o.png");
}

.p {
  background-image: url("../imgs/p.png");
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
.drum {
  display: inline-block;
  margin: 20px 20px 0px 0px;
  border: 10px solid white;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif !important;
  background-color: white;
  text-shadow: 3px 0 #8c0000;
}
.drum:focus {
  outline: none;
}
/* .body_container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
} */

.body_container{
  background-image: url(../imgs/anh-meo.jpg)  ;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size:contain; 
}